<div class="contenedor-padre">
  <mat-toolbar class="barra" color="primary">
    <mat-toolbar-row>

      <span>
        DressCode
      </span>
      <div *ngIf="email ==='admin@admin.com'" style="min-width: 300px;">

          <a mat-list-item href="/agregarProducto?user={{email}}" >
            <mat-icon color="primary">add_circle</mat-icon>
            &nbsp;Agregar producto
          </a>



      </div>
      <span class="example-fill-remaining-space"></span>
      <button mat-raised-button [matMenuTriggerFor]="menu" color="#e1f5fe">
        <mat-icon> shopping_cart</mat-icon>
        <span style="margin-right: 10px;" [matBadge]="carrito.length+''" matBadgeOverlap="false"
          matBadgePosition="after" matBadgeColor="warn">Mis compras</span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let c of carrito;">{{c.nombre}} {{c.precio | currency}} <span class="text-danger">X{{c.cantidad}}</span></button>
        <button mat-menu-item>
          <strong>Total: {{total() | currency}}</strong>
        </button>
        <a *ngIf="productos.length > 0" mat-menu-item routerLink={{rutaTerminar()}}>
          <mat-icon>shopping_cart</mat-icon>
          Terminar compra
        </a>
      </mat-menu>
      <a style="margin-left: 10px" mat-raised-button color="primary" href="https://www.unlam.edu.ar/" target="_blank">
        <mat-icon>help_outline</mat-icon>
      </a>
      <a (click)="logout()" style="margin-left: 10px" mat-raised-button color="primary" >
        <mat-icon>logout</mat-icon>
      </a>
    </mat-toolbar-row>
  </mat-toolbar>



      <router-outlet></router-outlet>


  <div class="product-grid">
    <app-tarjeta-producto [producto]="producto" *ngFor="let producto of productos"></app-tarjeta-producto>
  </div>

</div>
