<table>
    <tr>
        <td class="tableHeader">
            <h1 class="title">DressCode</h1>

        </td>
    </tr>
    <tr>
        <td class="cont">
            <table class="table1">
                <tr>
                    <td class="table1_1">
                        <img src="https://img.icons8.com/carbon-copy/100/000000/checked-checkbox.png" width="125" 
                            height="120" style="display: block; border: 0px;margin:auto;" /><br>
                        <h2 class="gracias">¡Gracias por tu compra!</h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="disfruta"> Disfrutá de tus productos, recordá que tenés 15 días por
                            cualquier cambio </p>
                    </td>
                </tr>
                <tr>
                    <td class="table1_2">
                        <table>
                            <tr>
                                <td class="orden"> Orden de compra # </td>
                                <td class="orden"> 2345678 </td>
                            </tr>
                            <tr>
                                <td  width="75%" align="left" class="est"> Nombre Item (1) </td>
                                <td width="25%" align="left" class="est"> $100.00 </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="left" style="padding-top: 20px;">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td  class="total"> TOTAL </td>
                                <td  width="25%" class="cien"> $100.00 </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="breath">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:660px;">
                <tr>
                    <td align="center" valign="top" style="font-size:0;">
                        <div
                        class="basic">
                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%"
                                style="max-width:300px;">
                                <tr>
                                    <td class="delivery">
                                        <p style="font-weight: 800;">Dirección de envío</p>
                                        <p>Avenida Siempre Viva 123<br>Depto A<br>Springfield, MA 02139
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="basic">
                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%"
                                style="max-width:300px;">
                                <tr>
                                    <td class="delivery">
                                        <p style="font-weight: 800;">Fecha estimada de envío</p>
                                        <p>Sábado 27 de Noviembre del 2021 </p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="orange">
            <table class="table1">
                <tr>
                    <td >
                        <h2 class="obtene"> Obtené un 30% OFF en tu próxima compra </h2>
                    </td>
                </tr>
                <tr>
                    <td class="pad">
                        <table >
                            <tr>
                                <td> 
                                    <a href="#" target="_blank" class="volver">Volver a la tienda</a> 
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
</table>
