<mat-card>
  <mat-card-header>
    <mat-card-title>{{producto.nombre | uppercase}} </mat-card-title>
    <mat-card-subtitle>{{producto.precio | currency}}</mat-card-subtitle>
  </mat-card-header>
  <div class="contenedor-imagen">
    <!--
      <div class="crop-image">
      <img [src]="product.image" alt="">
      </div>
    -->
    <img src="{{resolverRuta()}}" alt="">
  </div>
  <mat-card-content>
    <div class="respiro">
    {{producto.descripcion | slice:0:10}}
  </div>
  </mat-card-content>
 
    
    <div style="display: inline-block; vertical-align: top">

      
      <button (click)="agregarAlCarrito(producto.id)" class="carrito" mat-raised-button color="accent" style="margin-right: 10px;">
      
        <mat-icon>add_shopping_cart</mat-icon>
        Agregar al carrito 
      </button>
      <button (click)="quitarDelCarrito(producto.id)" class="carrito" mat-raised-button color="accent">
        <mat-icon>delete</mat-icon>
        Quitar del carrito
      </button>
    </div>

</mat-card>
