
<mat-card>
  <mat-card-header>
    <div class="container">
      <div style="float: left;"> 
        <mat-card-title>{{producto.nombre | uppercase}} </mat-card-title>
        <mat-card-subtitle>{{producto.precio | currency}}</mat-card-subtitle>
      </div>
  
      <div style="float: right;">
        <button (click)="agregarAlCarrito(producto.id)" class="carrito" mat-raised-button color="accent" style="margin-right: 10px;">
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
      </div>
    </div>
    
  </mat-card-header>
  <div class="contenedor-imagen">

    <img src="{{resolverRuta()}}" alt="" style="width:150px;height:150px;">
  </div>
  <mat-card-content>
    <div class="respiro">
    <b>{{producto.descripcion}}</b>
  </div>
  </mat-card-content>
 
    
 

</mat-card>