.mat-card {
  margin-bottom: 10px !important;
}

.respiro{
  text-align: center;
}

img {
  max-width: 150px;
  height: auto;
  display:block;
  margin:auto
}
.contenedor-imagen{
  padding: 10px;
  display: flex;
  justify-content: center;

}

.container{
  display: flex;
  justify-content:space-between;
}

