.mat-card {
  margin-bottom: 10px !important;
}

.respiro{
  padding-left: 20px;
}

img {
  max-width: 150px;
  height: auto;
  display:block;
  margin:auto
}
.contenedor-imagen{
  padding: 10px;
  display: flex;
  justify-content: center;

}

