
  <section>
    <div class="container-fluid">
      <div class="row no-gutter">
          <div class="col-md-6 d-none d-md-flex bg-image">

          </div>


          <div class="col-md-6 bg-light">
              <div class="login d-flex align-items-center py-5">
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-10 col-xl-7 mx-auto">
                              <h3 class="display-4">Bienvenido</h3>
                              <div *ngIf="alertaLogin" class="alert alert-warning alert-dismissible fade show" role="alert">
                                Por favor revise los datos ingresados o revise su casilla de email
                                <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>



                              <div class="form-group mb-3">
                                  <input [(ngModel)]="user.email" type="email" id="typeEmailX" name="email" placeholder="Correo electrónico" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4"/>
                                </div>
                                  <div class="form-group mb-3">
                                    <input [(ngModel)]="user.username" type="text" id="typeusernamelX" placeholder="Usuario" class="form-control form-control-lg" name="username" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4"/>

                                  </div>
                                  <div class="form-group mb-3">
                                    <input [(ngModel)]="user.password" type="password" id="typePasswordX"  name="password" placeholder="Contraseña" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary"/>
                                  </div>

                                  <button (click)="login()" class="btn btn-primary btn-block text-uppercase mb-2 ">Ingresar</button>
                                  <div>
                                    <br>
                                    <p class="mb-0 text-center">¿No tenés cuenta? <a href="/register" class="text-primary-50 fw-bold">Registrate</a></p>
                                  </div>

                                </div>
                      </div>
                  </div>

              </div>
          </div>

      </div>
  </div>

  </section>


