<div class="swiper-container-1">
    <div class="swiper-wrapper-1">
        <div class="swiper-slide-1" >
            <div class="swiper-slide-1" >ENVÍO GRATIS A PARTIR DE $10.000</div>      
        </div>
    </div>   
</div>


<div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let img of images">
        <img [src]="img" alt="" />
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </div>