<div class="contenedor-padre">
  <mat-toolbar class="barra" color="primary">
    <mat-toolbar-row>
      <span>
        DressCode
      </span>
      <span class="example-fill-remaining-space"></span>
      <button mat-raised-button [matMenuTriggerFor]="menu" color="#e1f5fe">
        <mat-icon> shopping_cart</mat-icon>
        <span style="margin-right: 10px;" [matBadge]="carrito.length+''" matBadgeOverlap="false"
          matBadgePosition="after" matBadgeColor="warn">Mis compras</span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let c of carrito;">{{c.nombre}} {{c.precio | currency}} <span
            class="text-danger">X{{c.cantidad}}</span></button>
        <button mat-menu-item>
          <strong>Total: {{total() | currency}}</strong>
        </button>
      </mat-menu>
      <a style="margin-left: 10px" mat-raised-button color="primary" href="https://www.unlam.edu.ar/" target="_blank">
        <mat-icon>help_outline</mat-icon>
      </a>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="contenido">
    <mat-sidenav style="min-width: 300px;" #cajon opened mode="side">
      <mat-nav-list>
        <button mat-list-item (click)="terminarYRedirijir()">
          <mat-icon color="primary">store</mat-icon>
          &nbsp; Volver a la tienda
        </button>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="padding-10">

      <mat-horizontal-stepper #stepper linear>
        <mat-step label="Revisar total">

          <div *ngFor="let c of carrito;">
            <div class="d-flex justify-content-around pb-5">
              <div>
                <img [src]="rutaImagen(c.foto)" alt="" width=100px;>
              </div>
              <div>
                {{c.nombre}} &nbsp; {{c.precio | currency}}
                <span class="text-danger">&nbsp;X{{c.cantidad}}</span>
              </div>
              <div class="padre-flex">

                <div class="hijo">
                  <button (click)="agregarAlCarrito(c.id)" class="carrito" mat-raised-button color="accent">

                    <mat-icon>add_shopping_cart</mat-icon>
                    Agregar
                  </button>
                  <button (click)="quitarDelCarrito(c.id)" class="carrito" mat-raised-button color="accent">
                    <mat-icon>delete</mat-icon>
                    Quitar
                  </button>
                </div>
              </div>
            </div>
          </div>

<div class="izquierda">
  <h2>Total: {{total() | currency}}</h2>
</div>

  <div>

    <button matStepperNext mat-raised-button color="primary" class="peque">Continuar
      <mat-icon>arrow_forward</mat-icon>
    </button>

  </div>
        </mat-step>
        <mat-step  label="Datos del cliente">
          <div class="breath">
            <div class="form-group col-md-5">
              <label >Nombre</label>
              <input matInput [(ngModel)]="clienteModel.nombre" type="text" placeholder="Nombre" class="form-control" >

            </div>
            <div class="form-group col-md-5">
              <label >Dirección</label>
              <textarea rows="10" matInput [(ngModel)]="clienteModel.direccion"
                placeholder="Dirección de envío" class="form-control"></textarea>

              </div>
          </div>

          <button matStepperPrevious mat-raised-button color="primary">
            <mat-icon>arrow_back</mat-icon>
            Volver
          </button>
          &nbsp;
          <button (click)="revisarYTerminar(stepper)" mat-raised-button color="warn">Terminar compra
            <mat-icon>check</mat-icon>
          </button>
        </mat-step>
        <mat-step label="Gracias por su compra">
          <div *ngIf="compraTerminada">

            <div style="text-align:center;">
              <img [src] ="ImagePath" style="width: 400px;height: 350px;">
            </div>
            <br>
            <br>
            <br>
            <h2 class="gracias">¡Gracias por su compra!</h2>
           <br>
            <p class="centrado" >Su paquete llegará a la dirección especificada en los siguientes días</p>
            <br>
            <br>
          </div>

          <div class="salmon">
            <h2 class="fuente">  Obtené un 30% OFF en tu próxima compra </h2>
            <button mat-raised-button color="warn" (click)="terminarYRedirijir()">Volver a la tienda</button>
          </div>



          <div *ngIf="!compraTerminada">
            Por favor, rellene los formularios de los pasos anteriores
          </div>
        </mat-step>
      </mat-horizontal-stepper>

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
