table {
  width: 100%;
}
img{
  max-width: 500px;
}
.contenedor-padre {
  display: flex;
  flex-flow: column;
  height: 100%;

}

.barra {
  flex: 0 1 auto;
}

.contenido {
  flex: 1 1 auto;
}

.padding-10 {
  padding: 10px;
}
.example-fill-remaining-space {
    flex: 1 1 auto;
}

.padre-flex{
  display: flex;
  flex-direction: column ;
  justify-content: space-between; 
  text-align: center;
 
}


.peque{
width: 60%;
margin: auto;
}

.breath{
  padding-top: 2%;
}
 
.gracias{
  text-align: center;
  font-size: 30px; 
  font-weight: 800; 
  line-height: 36px; 
  color: #333333; 
  margin: 0;
}

.salmon{
  text-align:center;
  color: white;
  padding: 35px; background-color: #ff7361;
}

.fuente{
  font-weight: bold;
  font-size: x-large;
}

.centrado{
  text-align: center;
}
