<mat-horizontal-stepper #stepper linear>
  <mat-step label="Revisar total">

    <div *ngFor="let c of carrito;">
      {{c.nombre}} {{c.precio | currency}} 
      <span class="text-danger">X{{c.cantidad}}</span>
      <button (click)="agregarAlCarrito(c.id)" class="carrito" mat-raised-button color="accent">
      
        <mat-icon>add_shopping_cart</mat-icon>
        Agregar al carrito
      </button>
      <button (click)="quitarDelCarrito(c.id)" class="carrito" mat-raised-button color="accent">
        <mat-icon>delete</mat-icon>
        Quitar del carrito
      </button>
    </div>
  
    
    <h2>Total: {{total() | currency}}</h2>
    <button matStepperNext mat-raised-button color="primary">Continuar
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </mat-step>
  <mat-step label="Datos del cliente">
    <p>
      
        <input matInput [(ngModel)]="clienteModel.nombre"
               type="text"
               placeholder="Nombre">
     
    </p>
    <p>
      
      <textarea rows="10" matInput [(ngModel)]="clienteModel.direccion"
                placeholder="Dirección de envío"></textarea>
      
    </p>
    <button matStepperPrevious mat-raised-button color="primary">
      <mat-icon>arrow_back</mat-icon>
      Volver
    </button>
    &nbsp;
    <button (click)="revisarYTerminar(stepper)" mat-raised-button color="warn">Terminar compra
      <mat-icon>check</mat-icon>
    </button>
  </mat-step>
  <mat-step label="Gracias por su compra">
    <div *ngIf="compraTerminada">
      <h2 class="mat-display-3">¡Gracias por su compra!</h2>
      <img src="assets/order-complete.png" alt="Compra terminada">
      <p>Su paquete llegará a la dirección especificada en los siguientes días</p>
      <button (click)="terminarYRedirijir()">Inicio</button>
    </div>
    <div *ngIf="!compraTerminada">
      Por favor, rellene los formularios de los pasos anteriores
    </div>
  </mat-step>
</mat-horizontal-stepper>
